project_id = "owqjyaiptexqwafzmcwy"

[functions.create-checkout]
verify_jwt = true

[functions.check-subscription]
verify_jwt = true

[functions.customer-portal]
verify_jwt = true

[functions.gocardless-webhook]
verify_jwt = false

[functions.send-email]
verify_jwt = false
